.grid-productos{
  margin-inline: 150px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
}

.producto a{
  display: grid;
  padding: 20px;
  place-items: center;
}

.producto img{
  width: 50%;
}