@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* 
#6fabd0
#92c0d7
#d7F0e9
#b0d5c7
#477977 
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
h1{
  color: #295982;
  font-size: 35px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 150px;
  border-bottom-style: solid;
  border-bottom-color: #295982; 
  border-bottom-width: 3px;
}

.navbar ul{
  display: flex;
  align-items: center;
}

.navbar li{
  list-style: none;
  padding-inline: 10px;
}

.navbar a{
  text-decoration: none;
  color: #6fabd0;
}

.navbar a:hover{
  color: #295982;
  transition: 0.1s ease-in-out;
}

.parte1, .parte2{
  display: flex;
  justify-content: space-between;
  padding-inline:150px;
  margin-block: 80px;
  align-items: center;
}

.parte1 p, .parte2 p{
  font-size: 20px;
  width: 60%;
}

footer{
  width: 100%;
  height: 80px;
  background-color: #477977;
  display: grid;
  place-items: center;
}

footer p{
  font-weight: bold;
  font-size: 25px;
}

.grid-productos{
  margin-inline: 150px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
}

.producto{
  display: grid;
  padding: 20px;
  place-items: center;
}

.producto img{
  width: 80%;
}