/*
----COLORS----
AZUL CLARO 2 -> #6082E6
AZUL CLARO 1 -> #2E5CE6
AZUL -> #2149bf
AZUL OSCURO 1 -> #183181
AZUL OSCURO 2 -> #0D1E56
NEGRO -> #000000
PIEL -> #fbbcbc
CELESTE -> #bcbcfb

----Estandares----
border-radius: 40%;

*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding-inline: 120px;
  padding-block: 8px;
  background-color: #ffffff;
  z-index: 2;
}

.icon{
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  z-index: 3;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  margin-inline: 5px;
}

nav ul li a{
  padding-inline: 10px;
  padding-block: 2px;
  color: #000000;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.2s;
  font-size: 15px;
}

nav ul li a:hover{
  background-color: #2149bf;
  color: #ffffff;
}

.content{
  margin-inline: 120px;
  padding-top: 65px;
  height: 100vh;
}
input#hamburger {
  float: right;
  position: absolute;
  display:none;
}

@media (max-width: 1000px) {
  nav{
    padding-inline: 50px;
    align-items: center;
  }
  .content{
    margin-inline: 50px
  }
}

@media (max-width: 800px){
  nav{
    padding-inline: 40px;
    align-items: center;
  }
  nav ul{
    display: none;
    translate: 0px -500px;
    height: 0;
    float: right;
    z-index: 0;
  }
  .icon{
    font-size: 30px;
  }
  .content{
    margin-inline: 40px;
  }
  label.hamburger {
    float: right;
    display: flex;
    background: #fff;
    width: 40px;
    height: 45px;
    position: relative;
    cursor: pointer;
    z-index: 3;
  }
  input#hamburger {
    float: right;
    position: absolute;
    display:none;
  }
  .line {
    position: absolute;
    height: 6px;
    width: 100%;
    background: #000;
    border-radius: 10px;
    transition: 0.5s;
  }
  .line:nth-child(1) { top: 10px; }
  .line:nth-child(2) { top: 20px; }
  .line:nth-child(3) { top: 30px; }
  
  #hamburger:checked + .hamburger .line:nth-child(1){
    transform: translateY(10px) rotate(-45deg);
  }
  
  #hamburger:checked + .hamburger .line:nth-child(2){
    opacity:0;
  }
  
  #hamburger:checked + .hamburger .line:nth-child(3){
    transform: translateY(-10px) rotate(45deg);
  }
  
  #hamburger:checked ~ ul{
    width: 100vw;
    top: 0px;
    position: absolute;
    translate: 0px 0px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms all;
    height: 470px;
  }
  
  #hamburger:checked ~ ul li{
    margin-inline: 0;
    color: #fff;
    padding-block: 20px;
    text-align: center;
    background-color: #183181;
    transition: 500ms;
  }
  
  #hamburger:checked ~ ul li a{
    font-size: 20px;
    color: #fff;
    transition: 500ms all;
  }
  #hamburger:checked ~ ul li a:hover{
    background-color: #0D1E56;
  }
}