:root {
  --semidarkviolet: #250141;
  --darkviolet: #150025;
  --violet: #6800B9;
  --rose: #9C038D;
}

::-webkit-scrollbar {
  width: 20px;
  background: #150025;

  height: 90%;
  /* margin: 0px; */
}
::-webkit-scrollbar-track{
  border-radius: 8px;
  background: #150025;
  /* border: 2px #150025 solid; */
}

::-webkit-scrollbar-thumb{
  box-shadow: inset 0px 0 0px 5px #150025;
  width: 5px;
  height: 10px;
  background: #380062;
  border-radius: 8px;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body{
  /* height: 100%; */
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll;s */
  height: 100%;
  /* background-color: var(--darkviolet); */
}
.noti{
  position: absolute;
  text-align: center;
  width: max-content;
  height: max-content;
  inset: 0 100px;
  margin-inline: auto;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-weight:500 ;
  transition: 0.5s all;
}
.visible{
  opacity: 1;
  transform: translateY(50px);

}
.not-visible{
  opacity: 0;
  transform: translateY(0);

}

.error{
  background-color: #b90000;
  border:3px #5f0000 solid;

}
.succes{
  background-color: #02bc27fd;
  border:3px #008c1cfd solid;

}

header{
  display: grid;
  place-items: center;
  height: 15%;
  background-color: var(--darkviolet);
  flex-basis: 300px;

}

h1{
  font-size: 50px;
  color: #fff
}

section{
  scroll-snap-align: start;
  background-color: var(--darkviolet);
  height: 100vh;  
}

.section-1 {
  display: flex;
  /* height: 100vh;   */
  flex-direction: column;
}

.section-2{
  /* display: flex; */
  /* width: 100%;s */
}
.main-container{
  display: flex;
  padding-inline: 100px;
  /* align-items: center; */
  justify-content: space-around;
  /* justify-content: space-between; */
  /* flex-direction: e; */
  height: 85%;
  padding-bottom: 20px;
  /* background-color: var(--darkviolet); */
  gap: 10px;
}




.form-add-factura{
  /* margin-right: 0; */
  display: flex;
  width: 40%;
  flex-direction: column;
  flex-basis: 300px;
  /* justify-content: cesnter; */
  align-items: center;
  color: #fff;
}

.form-add-factura h2{
  text-align: center;
  font-size: 30px;
  margin-block: 20px;
  line-height: 2rem;
}


.form-add-factura .input-invalid{
  outline: 3px #b90000 solid;
}
.form-add-factura input{
  margin-block: 15px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  padding-left: 5px ;
  border: 0;
  transition: 0.1s all
}

.form-add-factura input:focus{
  outline: 4px #6800B9 solid;
}

.form-add-factura button{
  margin-block: 15px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  padding-left: 5px ;
  border: 0;
  color:#fff;
  font-weight: 500;
  background-color: var(--violet);
  font-size: 18px;
  transition: 0.2s all;
}

.form-add-factura button:hover{
  color:#fff;
  font-weight: 500;
  background-color: var(--semidarkviolet);
}

.form-add-factura button:active{
  color:#fff;
  font-weight: 500;
  background-color: #46017b ;

}

.grid-facturas{
  height: 90%;
  width: 70%;
  background-color: var(--semidarkviolet);
  border-radius: 15px;
  display: flex;
  flex-direction: column ;
  align-items: center;
  padding-inline: 100px;
  padding-bottom: 10px;
}

.grid-columns{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,0.5fr);
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  color: #fff;
  text-align: center;
  font-size: clamp(20px, 2vw, 13px);
}
.grid-columns h2{
  line-height: 2rem;
}

.facturas{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-inline: 5px;
  /* margin-bottom: 50px; */
}

.factura{
  flex-shrink: 0;
  width: 100%;
  background-color: var(--darkviolet);
  border-radius: 8px;
  height: 40px;
  margin-block: 15px;
  padding-inline: 60px;
  display: grid;
  grid-template-columns: repeat(4,0.5fr);
  justify-items: center;
  align-items: center;
  color:#fff;
  font-size: clamp(15px, 1vw, 25px);

}

.estadisticas{
  display: flex;
  width: 100%;
  height: 15%;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1300px){
  .main-container{
    flex-direction: column;
    align-items: center;
    padding-inline: 0px;
    height: auto;
  }
  .form-add-factura{
    width: 60%;
  }
  .grid-facturas{
    width: 80%;
    padding-inline: 5px ;
  }
  .grid-columns{
    padding-inline: 10px;
    height: 80px;
    font-size: 10px;
    align-items: center;
  }
  .grid-columns h2{
    line-height: 1.5rem;
    font-size: clamp(15px, 2vw, 55px);

  }
  .factura{
    padding-inline: 10px;
    font-size: clamp(13px, 2vw, 55px);

  }
  section{
    height: auto;
    min-height: 100vh;
  }
  .estad-container{
    flex-direction: column;
  }
}
