:root {
  --semidarkviolet: #250141;
  --darkviolet: #150025;
  --violet: #6800B9;
  --rose: #9C038D;
}

::-webkit-scrollbar {
  width: 20px;
  
  height: 90%;
  /* margin: 0px; */
}
::-webkit-scrollbar-track{
  border-radius: 8px;
  background: #150025;
  /* border: 2px #150025 solid; */
}

::-webkit-scrollbar-thumb{
  box-shadow: inset 0px 0 0px 5px #150025;
  width: 5px;
  height: 10px;
  background: #380062;
  border-radius: 8px;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body{
  height: 100%;
  background-color: var(--darkviolet);
}

header{
  display: grid;
  place-items: center;
  height: 20%;
}

h1{
  font-size: 50px;
  color: #fff
}

section{
  display: flex;
  padding-inline: 100px;
  justify-content: space-between;
  height: 80%;
  padding-bottom: 80px;
  gap: 10px;
}



.form-add-factura{
  display: flex;
  width: 20%;
  flex-direction: column;
  flex-basis: 300px;
  /* justify-content: cesnter; */
  align-items: center;
  color: #fff;
}

.form-add-factura h2{
  text-align: center;
  font-size: 30px;
  margin-block: 20px;
  line-height: 2rem;
}

.form-add-factura input{
  margin-block: 15px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  padding-left: 5px ;
  border: 0;
  transition: 0.1s all
}

.form-add-factura input:focus{
  outline: 4px #6800B9 solid;
}

.form-add-factura button{
  margin-block: 15px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  padding-left: 5px ;
  border: 0;
  color:#fff;
  font-weight: 500;
  background-color: var(--violet);
  font-size: 18px;
  transition: 0.2s all;
}

.form-add-factura button:hover{
  color:#fff;
  font-weight: 500;
  background-color: var(--semidarkviolet);
}

.form-add-factura button:active{
  color:#fff;
  font-weight: 500;
  background-color: #46017b ;
  
}

.grid-facturas{
  height: 100%;
  width: 70%;
  background-color: var(--semidarkviolet);
  border-radius: 15px;
  display: flex;
  flex-direction: column ;
  align-items: center;  
  padding-inline: 100px;
}

.grid-columns{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,0.5fr);
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  color: #fff;
  text-align: center;
  font-size: clamp(20px, 2vw, 13px);
}
.grid-columns h2{
  line-height: 2rem;
}

.facturas{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  overflow-y: auto;
  padding-inline: 5px;
  /* height: 100%; */
}

.factura{
  flex-shrink: 0;
  width: 100%;
  background-color: var(--darkviolet);
  border-radius: 8px;
  height: 40px;
  margin-block: 15px;
  padding-inline: 60px;
  display: grid;
  grid-template-columns: repeat(4,0.5fr);
  justify-items: center;
  align-items: center;
  color:#fff;
  font-size: clamp(15px, 1vw, 25px);

}

@media (max-width: 1300px){
  section{
    flex-direction: column;
    align-items: center;
    padding-inline: 0px;
  }
  .form-add-factura{
    width: 60%;
  }
  .grid-facturas{
    width: 80%;
    padding-inline: 5px ;
  }
  .grid-columns{
    padding-inline: 10px;
    height: 80px;
    font-size: 10px;
    align-items: center;
  }
  .grid-columns h2{
    line-height: 1.5rem;   
    font-size: clamp(15px, 2vw, 55px);

  }
  .factura{
    padding-inline: 10px;
    font-size: clamp(13px, 2vw, 55px);

  }
}